* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.top {
  position: absolute;
  width: 1440px;
  height: 800px;
  background: #e1ff8f;
  overflow: hidden;
}

.stars {
  position: absolute;
  left: 63px;
  top: -333.46px;
}

.title {
  margin-left: 120px;
  padding-top: 196px;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}

.top__text {
  margin-top: 24px;
  margin-left: 120px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.button {
  position: absolute;
  margin-top: 48px;
  margin-left: 120px;
  width: 247px;
  height: 66px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background-color: rgb(32, 32, 39);
  color: white;
}

.button:hover {
  background-color: #fff;
  color: #000000;
  cursor: pointer;
}

.frame {
  position: absolute;
  top: 710px;
  height: 90px;
  left: -543px;
  right: -1237px;
}
